<% include ../partials/head %>
    <body id="notfound">
        <% include ../partials/nav %>
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-xl-end pb-5">
                    <div class="col-12 text-center">
                        <p class="lead"><i class="far fa-question-circle"></i> There's nothing here. Look somewhere else?</p>
                        <a href="/"><button class="btn btn-lg btn-primary text-uppercase mb-5" type="button"><i class="fas fa-redo"></i> Back to main page</button></a>
                    </div>
                </div>
            </div>
          </header>
          <% include ../partials/footer %>
    </body>
</html>