<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <form action="/register" name="register" method="POST" id="register-form">
                <input id="newusr" name="username" type="text">
                <input id="newpwd" name="password" type="password">
                <button type="submit" id="register-button">Register!</button>
            </form>
            <form action="/login" name="login" method="POST" id="login-form">
                <input id="usr" name="username">
                <input id="pwd" name="password" type="password">
                <button type="button" id="login-button">Login!</button>
            </form>
        </header>
        <script src="/client.js"></script>
    </body>
</html>