<% include ../partials/head %>
    <body>
        <% include ../partials/nav %>
        <header class="masthead" id="logged">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h1 class="font-weight-light">You are now logged in!</h1>
                        <p class="lead">Continue to your personal page:</p>
                        <form action="/profile" method="GET">
                            <button class="btn btn-lg btn-primary text-uppercase" type="submit">My page</button>
                        </form>
                    </div>
                </div>
            </div>
          </header>
          <% include ../partials/footer %>
    </body>
</html>