<% include ../partials/head %>
    <body id="main">
      <% include ../partials/nav %>
      <div class="alert alert-primary alert-dismissible position-absolute w-100 fade show text-center" role="alert">
            You have succesfully logged out. See you again!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div> 
        <br>
      <% include ../partials/main %>