<% include ../partials/head %>
        <body id="message">
            <% include ../partials/nav %>
            <div class="container w-50 float-right mr-5">
                <div class="card border-0 shadow my-5">
                  <div class="card-body p-5">
                        <h1 class="card-title text-center font-weight-light">Message a teacher</h1>
                        <hr>
                        <form class="form-signin" method="POST" action="/message">
                          <div class="form-label-group">
                                <p class="lead">Teacher's name:</p>
                                <select id="teacher" name="teacher" class="form-control selectpicker" size="1" required>
                                    <option selected disabled hidden>Choose...</option>
                                    <option value="Lansdale">Mr. Gage Lansdale</option>
                                    <option value="Srinvasan">Mr. Omar Srinvasan</option>
                                    <option value="Vonfelden">Mrs. Leila Vonfelden</option>        
                                    <option value="Martischnig">Mrs. Emilia Martischnig</option>
                                </select>
                          </div>
                          <hr>
                          <div class="form-label-group">
                            <input type="text" id="subject" class="form-control" name="subject" placeholder="Subject" required>
                            <label for="subject">Subject</label>
                          </div>
                          
                          <hr>
            
                          <div class="form-label-group">
                            <textarea id="messagetext" class="form-control" name="message" rows="10" placeholder="Message" required></textarea>
                            <label for="messagetext">Message</label>

                          </div>
                          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"><i class="fas fa-paper-plane"></i> Send message</button>
                        </form>
                  </div>
                </div>
              </div>
        <% include ../partials/footer %>
    </body>
</html>