<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="/favicon.png" />
        <title>User Register Test</title>
    </head>
    <% include ../partials/nav %>
        <body id="message">
            <div class="container w-50 float-right mr-5">
                <div class="card border-0 shadow my-5">
                  <div class="card-body p-5">
                        <h1 class="card-title text-center font-weight-light">Message a teacher</h1>
                        <hr>
                        <form class="form-signin" method="POST" action="/register">
                          <div class="form-label-group">
                                <p class="lead">Teacher's name:</p>
                                <select id="teacher" name="teacher" class="form-control" size="1" required>
                                    <option selected disabled hidden>Choose...</option>
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="fiat">Fiat</option>        
                                    <option value="audi">Audi</option>
                                </select>
                          </div>
                          <hr>
                          <div class="form-label-group">
                            <input type="text" id="subject" class="form-control" name="subject" placeholder="Subject" required>
                            <label for="subject">Subject</label>
                          </div>
                          
                          <hr>
            
                          <div class="form-label-group">
                            <textarea id="messagetext" class="form-control" name="message" rows="10" placeholder="Message" required></textarea>
                            <label for="messagetext">Message</label>

                          </div>
                          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"><i class="fas fa-paper-plane"></i> Send message</button>
                        </form>
                  </div>
                </div>
              </div>
        </body>
        <% include ../partials/footer %>
    </body>
</html>