<% include ../partials/head %>
    <body id="credentials">
      <% include ../partials/nav %>
        <div class="container">
            <div class="row">
              <div class="col-lg-5 col-xl-5 mx-auto">
                <div class="card card-signin flex-row my-5">
                  <div class="card-body" id="card">
                      <h5 class="card-title text-center"><i class="far fa-times-circle"></i> Invalid credentials!</h5>
                      <hr>
                      <p class="card-title text-center">You must log in before accessing this page:</p>
                      <% include ../partials/login %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% include ../partials/footer %>
    </body>
</html>