/* Nav bar */

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/* Index CSS */

html {
  height: 100%;
}


:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
  body {
    height: 100%;
    background: linear-gradient(to bottom, #94c4f7, rgb(255, 255, 255)),
  }
  
  #main {
    background-image: url("book_lover.svg");
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50rem 50rem;
  }

  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 1rem 2rem 3rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input,
  .form-label-group textarea,
  .form-label-group select {
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>textarea,
  .form-label-group>select,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder,
  .form-label-group textarea::-webkit-textarea-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder,
  .form-label-group textarea:-ms-textarea-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder,
  .form-label-group textarea::-ms-textarea-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder,
  .form-label-group textarea::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder,
  .form-label-group textarea::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown),
  .form-label-group textarea:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label,
  .form-label-group textarea:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  #swapper {
    cursor: pointer;
  }

/* Footer */

  #sticky-footer {
    flex-shrink: none;
  }

  .nounderline {
    text-decoration: none;
  }

  #notice {
    bottom: 3.5rem;
  }

/* Logged-in */

.masthead {
  height: 90vh;
  min-height: 500px;
}

#logged {
  background-image: url('confirmation.svg');
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 50rem 50rem;
}

 /* Registered */

 #registered {
  background-image: url('balloons.svg');
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 50rem 50rem;
 }

/* 404 */

 #error {
    background-image: url('page_not_found.svg');
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50rem 50rem;
 }

 /* Login error */

 #credentials {
  background-image: url('authentication.svg');
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 50rem 50rem;
}


 /* Profile*/

 #profile {
    background-image: url('studying.svg');
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50rem 50rem;
 }

 /* message */

 #message {
  background-image: url('teacher.svg');
  background-position: left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 50rem 50rem;
 }
